pipeline/pl_Transform_StagingToDW.json
{
	"name": "pl_Transform_StagingToDW",
	"properties": {
		"activities": [
			{
				"name": "sp_LoadDimDate",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dwh].[usp_Load_dim_Date]"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_LoadDimAgent",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dwh].[usp_Load_dim_Agent]"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_LoadDimProperty",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dwh].[usp_Load_dim_Property]"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_LoadDimListing",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dwh].[usp_Load_dim_Listing]"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_LoadDimCampaign",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dwh].[usp_Load_dim_Campaign]"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SetStartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineStartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sp_LoadFactSales",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_LoadDimCampaign",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sp_LoadDimProperty",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sp_LoadDimListing",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sp_LoadDimDate",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sp_LoadDimAgent",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dwh].[usp_Load_fact_Sales]"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_LoadFactOffers",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_LoadFactSales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dwh].[usp_Load_fact_Offers]"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_LoadFactLeads",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_LoadFactOffers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dwh].[usp_Load_fact_Leads]"
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lkp_Rowcount",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "sp_LoadFactLeads",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.0:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \n    (SELECT COUNT(*) FROM dwh.fact_Sales)    +\n    (SELECT COUNT(*) FROM dwh.fact_Leads)    +\n    (SELECT COUNT(*) FROM dwh.fact_Viewings) +\n    (SELECT COUNT(*) FROM dwh.fact_Offers)   AS [RowCount]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_stg_Transactions",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If_RowCountCheck",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lkp_Rowcount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Lkp_Rowcount').output.firstRow.RowCount, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FailEmptyFact",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Fact Table is Empty after Load",
								"errorCode": "EMPTY_FACT_TABLE"
							}
						},
						{
							"name": "sp_LogFailure_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "FailEmptyFact",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 1,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[stg].[usp_Log_PipelineRun]",
								"storedProcedureParameters": {
									"PipelineName": {
										"value": "@{pipeline().Pipeline}",
										"type": "String"
									},
									"RunID": {
										"value": "@{pipeline().RunId}",
										"type": "String"
									},
									"SourceTable": {
										"value": "stg.AllTables",
										"type": "String"
									},
									"TargetTable": {
										"value": "dwh.Facts",
										"type": "String"
									},
									"RowsRead": {
										"value": "0",
										"type": "Int32"
									},
									"RowsLoaded": {
										"value": "0",
										"type": "Int32"
									},
									"RowsRejected": {
										"value": "0",
										"type": "Int32"
									},
									"Status": {
										"value": "Failed",
										"type": "String"
									},
									"ErrorMessage": {
										"value": "Pipeline 2 Failed",
										"type": "String"
									},
									"StartTime": {
										"value": "@{variables('PipelineStartTime')}",
										"type": "Datetime"
									},
									"EndTime": {
										"value": "@{utcNow()}",
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_AzureSQL",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "SetSuccess",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "PipelineStartTime",
								"value": "Success"
							}
						}
					]
				}
			},
			{
				"name": "sp_LogSuccess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If_RowCountCheck",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stg].[usp_Log_PipelineRun]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": "@{pipeline().Pipeline}",
							"type": "String"
						},
						"RunID": {
							"value": "@{pipeline().RunId}",
							"type": "String"
						},
						"SourceTable": {
							"value": "\tstg.AllTables",
							"type": "String"
						},
						"TargetTable": {
							"value": "dwh.Facts",
							"type": "String"
						},
						"RowsRead": {
							"value": "0",
							"type": "Int32"
						},
						"RowsLoaded": {
							"value": "0",
							"type": "Int32"
						},
						"RowsRejected": {
							"value": "0",
							"type": "Int32"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						},
						"ErrorMessage": {
							"value": "No errors",
							"type": "String"
						},
						"StartTime": {
							"value": "@utcNow()",
							"type": "Datetime"
						},
						"EndTime": {
							"value": "@{utcNow()}",
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "sp_LogFailure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "sp_LoadFactSales",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "sp_LoadFactOffers",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "sp_LoadFactLeads",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[stg].[usp_Log_PipelineRun]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": "@{pipeline().Pipeline}",
							"type": "String"
						},
						"RunID": {
							"value": "@{pipeline().RunId}",
							"type": "String"
						},
						"SourceTable": {
							"value": "stg.AllTables",
							"type": "String"
						},
						"TargetTable": {
							"value": "dwh.Facts",
							"type": "String"
						},
						"RowsRead": {
							"value": "0",
							"type": "Int32"
						},
						"RowsLoaded": {
							"value": "0",
							"type": "Int32"
						},
						"RowsRejected": {
							"value": "0",
							"type": "Int32"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						},
						"ErrorMessage": {
							"value": "Pipeline 2 Failed",
							"type": "String"
						},
						"StartTime": {
							"value": "@{variables('PipelineStartTime')}",
							"type": "Datetime"
						},
						"EndTime": {
							"value": "@{utcNow()}",
							"type": "Datetime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"PipelineStartTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}