adf-realestate/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-realestate"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_Transform_StagingToDW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_LoadDimDate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_dim_Date]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LoadDimAgent",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_dim_Agent]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LoadDimProperty",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_dim_Property]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LoadDimListing",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_dim_Listing]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LoadDimCampaign",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_dim_Campaign]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetStartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineStartTime",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "sp_LoadFactSales",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_LoadDimCampaign",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_LoadDimProperty",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_LoadDimListing",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_LoadDimDate",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_LoadDimAgent",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_fact_Sales]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LoadFactOffers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_LoadFactSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_fact_Offers]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LoadFactLeads",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_LoadFactOffers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_fact_Leads]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lkp_Rowcount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "sp_LoadFactLeads",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.0:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT \n    (SELECT COUNT(*) FROM dwh.fact_Sales)    +\n    (SELECT COUNT(*) FROM dwh.fact_Leads)    +\n    (SELECT COUNT(*) FROM dwh.fact_Viewings) +\n    (SELECT COUNT(*) FROM dwh.fact_Offers)   AS [RowCount]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_stg_Transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If_RowCountCheck",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lkp_Rowcount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Lkp_Rowcount').output.firstRow.RowCount, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "FailEmptyFact",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Fact Table is Empty after Load",
										"errorCode": "EMPTY_FACT_TABLE"
									}
								},
								{
									"name": "sp_LogFailure_copy1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "FailEmptyFact",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:30:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[stg].[usp_Log_PipelineRun]",
										"storedProcedureParameters": {
											"PipelineName": {
												"value": {
													"value": "@{pipeline().Pipeline}",
													"type": "Expression"
												},
												"type": "String"
											},
											"RunID": {
												"value": {
													"value": "@{pipeline().RunId}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourceTable": {
												"value": "stg.AllTables",
												"type": "String"
											},
											"TargetTable": {
												"value": "dwh.Facts",
												"type": "String"
											},
											"RowsRead": {
												"value": "0",
												"type": "Int32"
											},
											"RowsLoaded": {
												"value": "0",
												"type": "Int32"
											},
											"RowsRejected": {
												"value": "0",
												"type": "Int32"
											},
											"Status": {
												"value": "Failed",
												"type": "String"
											},
											"ErrorMessage": {
												"value": "Pipeline 2 Failed",
												"type": "String"
											},
											"StartTime": {
												"value": {
													"value": "@{variables('PipelineStartTime')}",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"EndTime": {
												"value": {
													"value": "@{utcNow()}",
													"type": "Expression"
												},
												"type": "Datetime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_AzureSQL",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SetSuccess",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PipelineStartTime",
										"value": "Success"
									}
								}
							]
						}
					},
					{
						"name": "sp_LogSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "If_RowCountCheck",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[usp_Log_PipelineRun]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@{pipeline().RunId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"SourceTable": {
									"value": "\tstg.AllTables",
									"type": "String"
								},
								"TargetTable": {
									"value": "dwh.Facts",
									"type": "String"
								},
								"RowsRead": {
									"value": "0",
									"type": "Int32"
								},
								"RowsLoaded": {
									"value": "0",
									"type": "Int32"
								},
								"RowsRejected": {
									"value": "0",
									"type": "Int32"
								},
								"Status": {
									"value": "Success",
									"type": "String"
								},
								"ErrorMessage": {
									"value": "No errors",
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"EndTime": {
									"value": {
										"value": "@{utcNow()}",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LogFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_LoadFactSales",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "sp_LoadFactOffers",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "sp_LoadFactLeads",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[usp_Log_PipelineRun]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@{pipeline().RunId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"SourceTable": {
									"value": "stg.AllTables",
									"type": "String"
								},
								"TargetTable": {
									"value": "dwh.Facts",
									"type": "String"
								},
								"RowsRead": {
									"value": "0",
									"type": "Int32"
								},
								"RowsLoaded": {
									"value": "0",
									"type": "Int32"
								},
								"RowsRejected": {
									"value": "0",
									"type": "Int32"
								},
								"Status": {
									"value": "Failed",
									"type": "String"
								},
								"ErrorMessage": {
									"value": "Pipeline 2 Failed",
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@{variables('PipelineStartTime')}",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"EndTime": {
									"value": {
										"value": "@{utcNow()}",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"PipelineStartTime": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Validate_Transaction')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Quality check — split valid vs invalid transaction rows",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_stg_Transactions",
								"type": "DatasetReference"
							},
							"name": "SourceTransaction"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_stg_Transactions",
								"type": "DatasetReference"
							},
							"name": "SinkValidRows"
						},
						{
							"dataset": {
								"referenceName": "ds_Blob_ErrorTransaction",
								"type": "DatasetReference"
							},
							"name": "SinkErrorRows"
						}
					],
					"transformations": [
						{
							"name": "AddValidaFlage"
						},
						{
							"name": "SplitRows"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TransactionID as string,",
						"          ListingID as string,",
						"          AgentID as string,",
						"          PropertyID as string,",
						"          OfferDate as string,",
						"          ClosingDate as string,",
						"          SalePrice as string,",
						"          stg_LoadDate as timestamp,",
						"          stg_FileName as string,",
						"          stg_IsValid as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceTransaction",
						"SourceTransaction derive(IsValid = iif(\r",
						"  !isNull(TransactionID)\r",
						"  && !isNull(SalePrice)\r",
						"  && toFloat(SalePrice) > 0\r",
						"  && !isNull(OfferDate)\r",
						"  && !isNull(ClosingDate),\r",
						"  1, 0\r",
						"),",
						"          DaysToClose = toInteger(toDate(ClosingDate) - toDate(OfferDate))) ~> AddValidaFlage",
						"AddValidaFlage split(IsValid==1,",
						"     disjoint: false) ~> SplitRows@(ValidRows, InvalidRows)",
						"SplitRows@ValidRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TransactionID as string,",
						"          ListingID as string,",
						"          AgentID as string,",
						"          PropertyID as string,",
						"          OfferDate as string,",
						"          ClosingDate as string,",
						"          SalePrice as string,",
						"          stg_LoadDate as timestamp,",
						"          stg_FileName as string,",
						"          stg_IsValid as boolean",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          TransactionID,",
						"          ListingID,",
						"          AgentID,",
						"          PropertyID,",
						"          OfferDate,",
						"          ClosingDate,",
						"          SalePrice,",
						"          stg_LoadDate,",
						"          stg_FileName,",
						"          stg_IsValid",
						"     )) ~> SinkValidRows",
						"SplitRows@InvalidRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          TransactionID,",
						"          ListingID,",
						"          AgentID,",
						"          PropertyID,",
						"          OfferDate,",
						"          ClosingDate,",
						"          SalePrice,",
						"          stg_LoadDate,",
						"          stg_FileName,",
						"          stg_IsValid,",
						"          IsValid,",
						"          DaysToClose",
						"     )) ~> SinkErrorRows"
					]
				}
			},
			"dependsOn": []
		}
	]
}