adf-realestate/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-realestate"
		},
		"ls_AzureSQL_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_AzureSQL'"
		},
		"ls_BlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_BlobStorage'"
		},
		"ls_AzureSQL_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlrealestate.database.windows.net"
		},
		"ls_AzureSQL_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "realestate-dwh"
		},
		"ls_AzureSQL_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminn"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_IngestRawToStaging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load all 8 source CSVs from Blob to SQL staging",
				"activities": [
					{
						"name": "SetStartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineStartTime",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy_Agents",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Agents",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_BlobStorage",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AgentID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgentID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AgentName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgentName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "JoinDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "JoinDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ExperienceYears",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ExperienceYears",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Blob_Agent",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stg_Agents",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Campaigns",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Campaigns",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_BlobStorage",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CampaignID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CampaignID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StartDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "StartDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EndDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EndDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Channel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Channel",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cost",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cost",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Blob_Campaigns",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stg_Campaigns",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Leads",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Leads\n",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_BlobStorage",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "LeadID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LeadID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LeadDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LeadDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Source",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LeadScore",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LeadScore",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Blob_Leads",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stg_Leads",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Listings",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Listings",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_BlobStorage",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PropertyID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PropertyID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AgentID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgentID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Status",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AskingPrice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AskingPrice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Currency",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Currency",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EndDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EndDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Blob_Listings",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stg_Listings",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Offers",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Offers",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_BlobStorage",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "OfferID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OfferID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OfferDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OfferDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OfferPrice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OfferPrice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OfferStatus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OfferStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Blob_Offers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stg_Offers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Properties",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Properties",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_BlobStorage",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PropertyID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PropertyID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PropertyType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PropertyType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Bedrooms",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bedrooms",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Bathrooms",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bathrooms",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AreaSqft",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AreaSqft",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "YearBuilt",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "YearBuilt",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Blob_Properties",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stg_Properties",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Transactions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Transactions",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_BlobStorage",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TransactionID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TransactionID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AgentID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgentID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PropertyID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PropertyID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OfferDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OfferDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ClosingDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ClosingDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SalePrice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalePrice",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Blob_Transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stg_Transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy_Viewings",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE stg.Viewings",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "ls_BlobStorage",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ViewingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ViewingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ListingID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ViewingDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ViewingDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DurationMinutes",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DurationMinutes",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Feedback",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Feedback",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_Blob_Viewings",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stg_Viewings",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SP_LogSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_Listings",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Agents",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Offers",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Campaigns",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Leads",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Transactions",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Properties",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Copy_Viewings",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[usp_Log_PipelineRun]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@{pipeline().RunId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"SourceTable": {
									"value": "Blob_RawFiles",
									"type": "String"
								},
								"TargetTable": {
									"value": "stg.AllTables",
									"type": "String"
								},
								"RowsRead": {
									"value": "0",
									"type": "Int32"
								},
								"RowsLoaded": {
									"value": "0",
									"type": "Int32"
								},
								"RowsRejected": {
									"value": "0",
									"type": "Int32"
								},
								"Status": {
									"value": "Success",
									"type": "String"
								},
								"ErrorMessage": {
									"value": "No Errors",
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@{variables('PipelineStartTime')}",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"EndTime": {
									"value": {
										"value": "@{utcNow()}",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SP_LogFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_Listings",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Agents",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Offers",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Campaigns",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Leads",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Transactions",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Properties",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Copy_Viewings",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[usp_Log_PipelineRun]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@{pipeline().RunId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"SourceTable": {
									"value": "Blob_RawFiles",
									"type": "String"
								},
								"TargetTable": {
									"value": "stg.AllTables",
									"type": "String"
								},
								"RowsRead": {
									"value": "0",
									"type": "Int32"
								},
								"RowsLoaded": {
									"value": "0",
									"type": "Int32"
								},
								"RowsRejected": {
									"value": "0",
									"type": "Int32"
								},
								"Status": {
									"value": "Failed",
									"type": "String"
								},
								"ErrorMessage": {
									"value": {
										"value": "@{activity('Copy_Agents').error?.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@{variables('PipelineStartTime')}",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"EndTime": {
									"value": {
										"value": "@{utcNow()}",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"PipelineStartTime": {
						"type": "String"
					},
					"PipelineStatus": {
						"type": "String",
						"defaultValue": "Running"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_Blob_Agent')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_Agents')]",
				"[concat(variables('factoryId'), '/datasets/ds_Blob_Campaigns')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_Campaigns')]",
				"[concat(variables('factoryId'), '/datasets/ds_Blob_Leads')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_Leads')]",
				"[concat(variables('factoryId'), '/datasets/ds_Blob_Listings')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_Listings')]",
				"[concat(variables('factoryId'), '/datasets/ds_Blob_Offers')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_Offers')]",
				"[concat(variables('factoryId'), '/datasets/ds_Blob_Properties')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_Properties')]",
				"[concat(variables('factoryId'), '/datasets/ds_Blob_Transactions')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_Transactions')]",
				"[concat(variables('factoryId'), '/datasets/ds_Blob_Viewings')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_Viewings')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQL')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Master_RealEstate_ETL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Master orchestrator — runs Ingest then Transform end-to-end",
				"activities": [
					{
						"name": "Run_Ingest",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_IngestRawToStaging",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Run_Transform",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Run_Ingest",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_Transform_StagingToDW",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "sp_MasterLogFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run_Transform",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Run_Ingest",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[usp_Log_PipelineRun]",
							"storedProcedureParameters": {
								"PiepelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@{pipeline().RunId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"SourceTable": {
									"value": "Blob_RawFiles",
									"type": "String"
								},
								"TargetTable": {
									"value": "stg.AllTables",
									"type": "String"
								},
								"RowsRead": {
									"value": "0",
									"type": "Int32"
								},
								"RowsLoaded": {
									"value": "0",
									"type": "Int32"
								},
								"RowsRejected": {
									"value": "0",
									"type": "Int32"
								},
								"Status": {
									"value": "Failed",
									"type": "String"
								},
								"ErrorMessage": {
									"value": {
										"value": "@{activity('RUN_Ingest').error?.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"EndTime": {
									"value": {
										"value": "@{utcNow()}",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_IngestRawToStaging')]",
				"[concat(variables('factoryId'), '/pipelines/pl_Transform_StagingToDW')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Transform_StagingToDW')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sp_LoadDimDate",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_dim_Date]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LoadDimAgent",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_dim_Agent]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LoadDimProperty",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_dim_Property]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LoadDimListing",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_dim_Listing]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LoadDimCampaign",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetStartTime",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_dim_Campaign]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "SetStartTime",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineStartTime",
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							}
						}
					},
					{
						"name": "sp_LoadFactSales",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_LoadDimCampaign",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_LoadDimProperty",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_LoadDimListing",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_LoadDimDate",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "sp_LoadDimAgent",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_fact_Sales]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LoadFactOffers",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_LoadFactSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_fact_Offers]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LoadFactLeads",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_LoadFactOffers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dwh].[usp_Load_fact_Leads]"
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lkp_Rowcount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "sp_LoadFactLeads",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.0:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT \n    (SELECT COUNT(*) FROM dwh.fact_Sales)    +\n    (SELECT COUNT(*) FROM dwh.fact_Leads)    +\n    (SELECT COUNT(*) FROM dwh.fact_Viewings) +\n    (SELECT COUNT(*) FROM dwh.fact_Offers)   AS [RowCount]",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_stg_Transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "If_RowCountCheck",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lkp_Rowcount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Lkp_Rowcount').output.firstRow.RowCount, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "FailEmptyFact",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Fact Table is Empty after Load",
										"errorCode": "EMPTY_FACT_TABLE"
									}
								},
								{
									"name": "sp_LogFailure_copy1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "FailEmptyFact",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.00:30:00",
										"retry": 1,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[stg].[usp_Log_PipelineRun]",
										"storedProcedureParameters": {
											"PipelineName": {
												"value": {
													"value": "@{pipeline().Pipeline}",
													"type": "Expression"
												},
												"type": "String"
											},
											"RunID": {
												"value": {
													"value": "@{pipeline().RunId}",
													"type": "Expression"
												},
												"type": "String"
											},
											"SourceTable": {
												"value": "stg.AllTables",
												"type": "String"
											},
											"TargetTable": {
												"value": "dwh.Facts",
												"type": "String"
											},
											"RowsRead": {
												"value": "0",
												"type": "Int32"
											},
											"RowsLoaded": {
												"value": "0",
												"type": "Int32"
											},
											"RowsRejected": {
												"value": "0",
												"type": "Int32"
											},
											"Status": {
												"value": "Failed",
												"type": "String"
											},
											"ErrorMessage": {
												"value": "Pipeline 2 Failed",
												"type": "String"
											},
											"StartTime": {
												"value": {
													"value": "@{variables('PipelineStartTime')}",
													"type": "Expression"
												},
												"type": "Datetime"
											},
											"EndTime": {
												"value": {
													"value": "@{utcNow()}",
													"type": "Expression"
												},
												"type": "Datetime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_AzureSQL",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "SetSuccess",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "PipelineStartTime",
										"value": "Success"
									}
								}
							]
						}
					},
					{
						"name": "sp_LogSuccess",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "If_RowCountCheck",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[usp_Log_PipelineRun]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@{pipeline().RunId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"SourceTable": {
									"value": "\tstg.AllTables",
									"type": "String"
								},
								"TargetTable": {
									"value": "dwh.Facts",
									"type": "String"
								},
								"RowsRead": {
									"value": "0",
									"type": "Int32"
								},
								"RowsLoaded": {
									"value": "0",
									"type": "Int32"
								},
								"RowsRejected": {
									"value": "0",
									"type": "Int32"
								},
								"Status": {
									"value": "Success",
									"type": "String"
								},
								"ErrorMessage": {
									"value": "No errors",
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"EndTime": {
									"value": {
										"value": "@{utcNow()}",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "sp_LogFailure",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "sp_LoadFactSales",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "sp_LoadFactOffers",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "sp_LoadFactLeads",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[stg].[usp_Log_PipelineRun]",
							"storedProcedureParameters": {
								"PipelineName": {
									"value": {
										"value": "@{pipeline().Pipeline}",
										"type": "Expression"
									},
									"type": "String"
								},
								"RunID": {
									"value": {
										"value": "@{pipeline().RunId}",
										"type": "Expression"
									},
									"type": "String"
								},
								"SourceTable": {
									"value": "stg.AllTables",
									"type": "String"
								},
								"TargetTable": {
									"value": "dwh.Facts",
									"type": "String"
								},
								"RowsRead": {
									"value": "0",
									"type": "Int32"
								},
								"RowsLoaded": {
									"value": "0",
									"type": "Int32"
								},
								"RowsRejected": {
									"value": "0",
									"type": "Int32"
								},
								"Status": {
									"value": "Failed",
									"type": "String"
								},
								"ErrorMessage": {
									"value": "Pipeline 2 Failed",
									"type": "String"
								},
								"StartTime": {
									"value": {
										"value": "@{variables('PipelineStartTime')}",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"EndTime": {
									"value": {
										"value": "@{utcNow()}",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_AzureSQL",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"PipelineStartTime": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQL')]",
				"[concat(variables('factoryId'), '/datasets/ds_stg_Transactions')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Blob_Agent')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ds_BlobStorage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Agents_clean.csv",
						"folderPath": "Agents",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "AgentID",
						"type": "String"
					},
					{
						"name": "AgentName",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "JoinDate",
						"type": "String"
					},
					{
						"name": "ExperienceYears",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Blob_Campaigns')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ds_BlobStorage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Campaigns_clean.csv",
						"folderPath": "Campaigns ",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "CampaignID",
						"type": "String"
					},
					{
						"name": "ListingID",
						"type": "String"
					},
					{
						"name": "StartDate",
						"type": "String"
					},
					{
						"name": "EndDate",
						"type": "String"
					},
					{
						"name": "Channel",
						"type": "String"
					},
					{
						"name": "Cost",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Blob_ErrorTransaction')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "error-logs"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Blob_Leads')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ds_BlobStorage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Leads_clean.csv",
						"folderPath": "Leads",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "LeadID",
						"type": "String"
					},
					{
						"name": "ListingID",
						"type": "String"
					},
					{
						"name": "LeadDate",
						"type": "String"
					},
					{
						"name": "Source",
						"type": "String"
					},
					{
						"name": "LeadScore",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Blob_Listings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ds_BlobStorage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Listings_clean.csv",
						"folderPath": "Listings",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ListingID",
						"type": "String"
					},
					{
						"name": "PropertyID",
						"type": "String"
					},
					{
						"name": "AgentID",
						"type": "String"
					},
					{
						"name": "ListDate",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "AskingPrice",
						"type": "String"
					},
					{
						"name": "Currency",
						"type": "String"
					},
					{
						"name": "EndDate",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Blob_Offers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ds_BlobStorage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Offers_clean.csv",
						"folderPath": "Offers",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OfferID",
						"type": "String"
					},
					{
						"name": "ListingID",
						"type": "String"
					},
					{
						"name": "OfferDate",
						"type": "String"
					},
					{
						"name": "OfferPrice",
						"type": "String"
					},
					{
						"name": "OfferStatus",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Blob_Properties')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ds_BlobStorage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Properties_clean.csv",
						"folderPath": "Properties",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "PropertyID",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "PropertyType",
						"type": "String"
					},
					{
						"name": "Bedrooms",
						"type": "String"
					},
					{
						"name": "Bathrooms",
						"type": "String"
					},
					{
						"name": "AreaSqft",
						"type": "String"
					},
					{
						"name": "YearBuilt",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Blob_Transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ds_BlobStorage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Transactions_clean.csv",
						"folderPath": "Transactions",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "TransactionID",
						"type": "String"
					},
					{
						"name": "ListingID",
						"type": "String"
					},
					{
						"name": "AgentID",
						"type": "String"
					},
					{
						"name": "PropertyID",
						"type": "String"
					},
					{
						"name": "OfferDate",
						"type": "String"
					},
					{
						"name": "ClosingDate",
						"type": "String"
					},
					{
						"name": "SalePrice",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Blob_Viewings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_BlobStorage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Ds_BlobStorage"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Viewings_clean.csv",
						"folderPath": "Viewings",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ViewingID",
						"type": "String"
					},
					{
						"name": "ListingID",
						"type": "String"
					},
					{
						"name": "ViewingDate",
						"type": "String"
					},
					{
						"name": "DurationMinutes",
						"type": "String"
					},
					{
						"name": "Feedback",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_BlobStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_Agents')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Dataset"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AgentID",
						"type": "nvarchar"
					},
					{
						"name": "AgentName",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "JoinDate",
						"type": "nvarchar"
					},
					{
						"name": "ExperienceYears",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Agents"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_Campaigns')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Dataset"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CampaignID",
						"type": "nvarchar"
					},
					{
						"name": "ListingID",
						"type": "nvarchar"
					},
					{
						"name": "StartDate",
						"type": "nvarchar"
					},
					{
						"name": "EndDate",
						"type": "nvarchar"
					},
					{
						"name": "Channel",
						"type": "nvarchar"
					},
					{
						"name": "Cost",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Campaigns"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_Leads')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Dataset"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "LeadID",
						"type": "nvarchar"
					},
					{
						"name": "ListingID",
						"type": "nvarchar"
					},
					{
						"name": "LeadDate",
						"type": "nvarchar"
					},
					{
						"name": "Source",
						"type": "nvarchar"
					},
					{
						"name": "LeadScore",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Leads"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_Listings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Dataset"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ListingID",
						"type": "nvarchar"
					},
					{
						"name": "PropertyID",
						"type": "nvarchar"
					},
					{
						"name": "AgentID",
						"type": "nvarchar"
					},
					{
						"name": "ListDate",
						"type": "nvarchar"
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "AskingPrice",
						"type": "nvarchar"
					},
					{
						"name": "Currency",
						"type": "nvarchar"
					},
					{
						"name": "EndDate",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Listings"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_Offers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Dataset"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "OfferID",
						"type": "nvarchar"
					},
					{
						"name": "ListingID",
						"type": "nvarchar"
					},
					{
						"name": "OfferDate",
						"type": "nvarchar"
					},
					{
						"name": "OfferPrice",
						"type": "nvarchar"
					},
					{
						"name": "OfferStatus",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Offers"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_Properties')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Dataset"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PropertyID",
						"type": "nvarchar"
					},
					{
						"name": "Region",
						"type": "nvarchar"
					},
					{
						"name": "City",
						"type": "nvarchar"
					},
					{
						"name": "PropertyType",
						"type": "nvarchar"
					},
					{
						"name": "Bedrooms",
						"type": "nvarchar"
					},
					{
						"name": "Bathrooms",
						"type": "nvarchar"
					},
					{
						"name": "AreaSqft",
						"type": "nvarchar"
					},
					{
						"name": "YearBuilt",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Properties"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_Transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Dataset"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "TransactionID",
						"type": "nvarchar"
					},
					{
						"name": "ListingID",
						"type": "nvarchar"
					},
					{
						"name": "AgentID",
						"type": "nvarchar"
					},
					{
						"name": "PropertyID",
						"type": "nvarchar"
					},
					{
						"name": "OfferDate",
						"type": "nvarchar"
					},
					{
						"name": "ClosingDate",
						"type": "nvarchar"
					},
					{
						"name": "SalePrice",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Transactions"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stg_Viewings')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_AzureSQL",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL_Dataset"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ViewingID",
						"type": "nvarchar"
					},
					{
						"name": "ListingID",
						"type": "nvarchar"
					},
					{
						"name": "ViewingDate",
						"type": "nvarchar"
					},
					{
						"name": "DurationMinutes",
						"type": "nvarchar"
					},
					{
						"name": "Feedback",
						"type": "nvarchar"
					},
					{
						"name": "stg_LoadDate",
						"type": "datetime2",
						"scale": 7
					},
					{
						"name": "stg_FileName",
						"type": "nvarchar"
					},
					{
						"name": "stg_IsValid",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "Viewings"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_AzureSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "To connect Azure SQL ",
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_AzureSQL_properties_typeProperties_server')]",
					"database": "[parameters('ls_AzureSQL_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_AzureSQL_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_AzureSQL_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_BlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "To connect raw csv files",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('ls_BlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_Validate_Transaction')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Quality check — split valid vs invalid transaction rows",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_stg_Transactions",
								"type": "DatasetReference"
							},
							"name": "SourceTransaction"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_stg_Transactions",
								"type": "DatasetReference"
							},
							"name": "SinkValidRows"
						},
						{
							"dataset": {
								"referenceName": "ds_Blob_ErrorTransaction",
								"type": "DatasetReference"
							},
							"name": "SinkErrorRows"
						}
					],
					"transformations": [
						{
							"name": "AddValidaFlage"
						},
						{
							"name": "SplitRows"
						}
					],
					"scriptLines": [
						"source(output(",
						"          TransactionID as string,",
						"          ListingID as string,",
						"          AgentID as string,",
						"          PropertyID as string,",
						"          OfferDate as string,",
						"          ClosingDate as string,",
						"          SalePrice as string,",
						"          stg_LoadDate as timestamp,",
						"          stg_FileName as string,",
						"          stg_IsValid as boolean",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SourceTransaction",
						"SourceTransaction derive(IsValid = iif(\r",
						"  !isNull(TransactionID)\r",
						"  && !isNull(SalePrice)\r",
						"  && toFloat(SalePrice) > 0\r",
						"  && !isNull(OfferDate)\r",
						"  && !isNull(ClosingDate),\r",
						"  1, 0\r",
						"),",
						"          DaysToClose = toInteger(toDate(ClosingDate) - toDate(OfferDate))) ~> AddValidaFlage",
						"AddValidaFlage split(IsValid==1,",
						"     disjoint: false) ~> SplitRows@(ValidRows, InvalidRows)",
						"SplitRows@ValidRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          TransactionID as string,",
						"          ListingID as string,",
						"          AgentID as string,",
						"          PropertyID as string,",
						"          OfferDate as string,",
						"          ClosingDate as string,",
						"          SalePrice as string,",
						"          stg_LoadDate as timestamp,",
						"          stg_FileName as string,",
						"          stg_IsValid as boolean",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          TransactionID,",
						"          ListingID,",
						"          AgentID,",
						"          PropertyID,",
						"          OfferDate,",
						"          ClosingDate,",
						"          SalePrice,",
						"          stg_LoadDate,",
						"          stg_FileName,",
						"          stg_IsValid",
						"     )) ~> SinkValidRows",
						"SplitRows@InvalidRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          TransactionID,",
						"          ListingID,",
						"          AgentID,",
						"          PropertyID,",
						"          OfferDate,",
						"          ClosingDate,",
						"          SalePrice,",
						"          stg_LoadDate,",
						"          stg_FileName,",
						"          stg_IsValid,",
						"          IsValid,",
						"          DaysToClose",
						"     )) ~> SinkErrorRows"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stg_Transactions')]",
				"[concat(variables('factoryId'), '/datasets/ds_Blob_ErrorTransaction')]"
			]
		}
	]
}